:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: teal;
  min-height: 100%;
  padding-left: 12rem;
  padding-right: 12rem;
}

header {
  background-color: rgb(185, 227, 227);
}

header h1 {
  margin: .5rem;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

header ul {
  background-color: rgb(94, 197, 197);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  list-style: none;
  margin-bottom: 0rem;
}

header li+li {
  margin-left: 1rem;
}

header a:link, header a:visited {
  color: white;
}

img {
  height: 300px;
}

div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  border: 4px solid;
  padding: 1rem;
  border-color: #2a5342;
  margin: 1rem;
}

article {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  background-color: rgb(185, 227, 227);
}

footer ul {
  background-color: rgb(231, 220, 235);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding: 1rem;
  margin-top: 0rem;
}

footer a:link, footer a:visited {
  color: black;
}